@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
    width: 100%;
    height: 500px;
    background: linear-gradient(#1D5297 80%, #FFFFFF 20%);
    opacity: 1;
}

.seta {
    position: absolute;
    left: 50%;
    top: 427px;
}

.hospedagem {
    font: normal normal 600 16px/27px Montserrat;
    letter-spacing: 1.6px;
    color: #B9D0EF;
    opacity: 1;
}

.titulo {
    text-align: center;
    font: normal normal bold 30px/45px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.checks {
    text-align: center;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #B9D0EF;
    opacity: 1;
}

.radio {
    width: 110px;
    border-radius: 21px;
    text-align: left;
    font: normal normal bold 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #16437E;
    opacity: 1;
}

.radioActive {
    width: 110px;
    background: #4480C5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    text-align: left;
    font: normal normal bold 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tituloPlano {
    padding: 20px;
    width: 100%;
    text-align: center;
    font: normal normal bold 26px/26px Montserrat;
    letter-spacing: 0px;
    color: #1D5297;
    opacity: 1;
}

.valorDe {
    padding: 20px;
    width: 100%;
    text-align: center;
    font: normal normal normal 13px/19px Montserrat;
    letter-spacing: 0px;
    color: #333333;
}

.cifra {
    text-align: center;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #1D5297;
}

.valor {
    text-align: center;
    font: normal normal bold 35px/24px Montserrat;
    letter-spacing: 0px;
    color: #1D5297;
}

.dominio {
    padding: 20px;
    width: 100%;
    text-align: center;
    font: normal normal bold 15px/20px Montserrat;
    letter-spacing: 0px;
    color: #333333;
}

.economize {
    width: 100%;
    text-align: center;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #1D5297;
    opacity: 1;
}

.off {
    background: #51C99C 0% 0% no-repeat padding-box;
    border-radius: 224px;
    padding: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.finalText {
    padding: 20px;
    width: 100%;
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font: normal normal normal 16px/32px Montserrat;
}

.button {
    width: 279px;
    height: 52px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
